.table-lists .ant-table-thead > tr > th {
    background-color: rgba(15, 155, 155, 0.644) !important;
    border-right: 1px solid #f0f2fd;
    color: black;
    /* font-size: 16px; */
    /* font-weight: 600; */
    line-height: 1.5rem;
    white-space: nowrap;
}

.table-lists .ant-table-thead > tr > th.header-add {
    background-color: #008B8B !important;
    color: white;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: nowrap;
    cursor: copy;
}

.ant-pagination-options {
    height: 54px;
}


.ant-pagination-options-size-changer .ant-select-selection {
    margin-top: 15px !important;
}

.ant-pagination-options-quick-jumper {
    margin-top: 15px !important;
}

.ant-table-pagination.ant-pagination {
    float: left;
    margin: 0px 0;
}

.ant-pagination.mini .ant-pagination-options {
    margin-left: 25px;
}
